.loginDiv{
    background-image: url("./../images1/techno-elevate-login-page-image-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* images/techno-elevate-login-page-image-1.png */
}